@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    --my-blue-color: #0fa5d3;
    --my-orange-color: #fff3b0;
}

body {
    display: grid;
    height: 130vh;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f0ec;
}

img {
    display: inline;
    height: 30px;
    width: auto;

}
nav {
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
    border: 0;
    background-color: var(--my-blue-color);
}

nav h1 {
    height: 40px;
    border: 0;
    padding: 20px;
    color: white;
}

nav a {
    padding:20px 0px 0px 20px;
    height: 30px;
    border: 0;
    text-decoration: none;
    color: white;
}

header {
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: 64% 36%;
    background-color: white;
}

#search-bar {
    margin: 20px 0px 20px 20px;
}

input {
    background-color: rgb(241, 233, 233);
    border: 0;
    padding: 5px;
    border-radius:5px;
    width: 80%;
    height: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#announcements {
    grid-area: 2 / 3 / 2 / 3;
    padding: 20px 20px 0px 0px;
}

#announcements h1 {
    font-size: 25px;
    padding-left: 40px;
    margin-bottom: 10px;
}

#announcements-container {
    background-color: white;
    border-radius: 5%;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#announcements-container h2 {
    color: grey;
    font-size: 20px;
}

.policy {
    padding: 4px;
    margin-bottom: 10px;
}

#trending {
    grid-area: 3 / 3 / 3 / 3;
    display: flex;
    flex-direction: column;

    padding: 20px 20px 0px 0px;
}

#trending h1 {
    font-size: 25px;
    padding-left: 40px;
    margin-bottom: 10px;
}

#trending-container {
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5%;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#trending-container h2 {
    position: relative;
    margin-bottom: 10px;
    color: grey;
    font-size: 20px;

    padding-left: 40px;
}

#trending-container h2 img {
    position: absolute;
    left: 3px;
    height: 30px;
}

.users {
    padding: 4px;
    margin-bottom: 10px;
}

#card-container {
    grid-area: 2 / 2 / 4 / 3;

    padding: 30px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 30px;
}

.card {
    position: relative;
    background-color: white;
    border-left: 6px solid var(--my-orange-color);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h2 {
    color: grey;
    font-size: 20px;
    margin-bottom: 10px;
}

.card img {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#right {
    display: flex;
    justify-content: row;
    margin-top: 20px;
    align-items: flex-start;
    gap: 20px;

}

button {
    width: 130px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    color: white;
    background-color: var(--my-blue-color);
}

#introduction {
    padding: 20px;
    margin-bottom: 20px;
}

#introduction h1 img {
    height: 40px;
}